<!DOCTYPE html>
<html lang="en">

<head>
  <title>Code Closet</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- Frameworks  --}}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css">

  {{!-- stylesheets --}}
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/sarastyle.css" rel="stylesheet">
  <link href="stylesheets/shop.css" rel="stylesheet">

  {{!-- Fonts and Icons --}}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
  <div class="marketing-site-hero">
    <div class="marketing-site-hero-content">
    </div>
  </div>


  {{#if user}}
  <ul class="menu menu-hover-lines" id="ulnav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
  {{/if}}
  </div>
  </div>
  </nav>
  {{{body}}}
  <script type="text/javascript" src="js/members.js"></script>
  <script type="text/javascript" src="js/shop.js"></script>

</body>

</html>