<link href="stylesheets/sarastyle.css" rel="stylesheet">
<link href="stylesheets/closet.css" rel="stylesheet">

<div class="container">
    <ul class="menu menu-hover-lines" id="ulnav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="#">View Closet</a></li>
        <li><a href="shop">Shop</a></li>
        <li><a href="cart">View Cart</a></li>
        <li><a href="#">Log Out</a></li>
    </ul>
</div>
</div>
</div>
<br>
<br>
<div id="closet-heading" class="container" style="display: block" ; <div class="callout large primary">
    <div class="row column text-center">
        <h1>Your Awesome Coding Closet</h1>
        <h2 class="subheader">Love Your Style</h2>
    </div>
</div>
</div>
<br>
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="card">
      <div class="card-section">
        <img src="../sketches/sweatshirts_blue.svg" height="350" width="350">
            <div class="item-name">
                <a>Stylish Sweatshirt</a>
                <p><span class="title">Color:</span>Blue</p>
                <p><span class="title">Size:</span>M</p>
            </div>
            <div class="item-price">
                <p class="title">$24.99</p>
                <a href="#">Remove</a>
                <br>
                <a href="#"> Edit</a>
            </div>
        </div>
      </div>
    </div>
    <br>
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="card">
      <div class="card-section">
        <img src="../sketches/sweatshirts_blue.svg" height="350" width="350" align="center">
            <div class="item-name">
                <a>Stylish Sweatshirt</a>
                <p><span class="title">Color:</span>Blue</p>
                <p><span class="title">Size:</span>M</p>
            </div>
            <div class="item-price">
                <p class="title">$24.99</p>
                <a href="#">Remove</a>
                <br>
                <a href="#"> Edit</a>
            </div>
        </div>
      </div>
    </div><br>
<div class="grid-container">
  <div class="grid-x grid-margin-x small-up-2 medium-up-3">
    <div class="card">
      <div class="card-section">
        <img src="../sketches/sweatshirts_blue.svg" height="350" width="350">
            <div class="item-name">
                <a>Stylish Sweatshirt</a>
                <p><span class="title">Color:</span>Blue</p>
                <p><span class="title">Size:</span>M</p>
            </div>
            <div class="item-price">
                <p class="title">$24.99</p>
                <a href="#">Remove</a>
                <br>
                <a href="#"> Edit</a>
            </div>
        </div>
      </div>
    </div>
    