<link href="stylesheets/sarastyle.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<div class="container" id="fullNav">
  <ul class="menu menu-hover-lines" id="ulnav">
    <li><a href="closet">View Closet</a></li>
    <li><a href="shop">Shop</a></li>
    <li><a href="cart">View Cart</a></li>
  </ul>
</div>
</div>
</div>
<div class="card-info-content">
  <h3 class="lead"> Welcome <span class="member-name"></span></h3>
</div>
</div>
<div class="container">
  <div class="cardBod">
    {{!-- <div class="row col-12"> --}}
      <div class="card col-md-6" >
        <img class="card-img-top" src="../img/cart.png" height="2304" width="1536" alt="Shopping Cart">
        <div class="card-body">
          <h5 class="card-title">Cart</h5>
          <p class="card-text">Check your bank later. Lets finish the order! </p>
          <a href="cart" class="btn btn-primary">Treat Yo Self</a>
        </div>
      </div>

      <div class="card col-md-6" >
        <img class="card-img-top" src="../img/viewClos.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Closet</h5>
          <p class="card-text">Click below to check out the pieces you own.</p>
          <a href="closet" class="btn btn-primary">Take Me There</a>
        </div>
      </div>
 
    <div class="card col-md-6" >
      <img class="card-img-top" src="../img/shopMore.jpg" alt="store front">
      <div class="card-body">
        <h5 class="card-title">Shop</h5>
        <p class="card-text">Ready to add some new items to your wardrobe? </p>
        <a href="shop" class="btn btn-primary">Revamp</a>
      </div>
    </div>
     {{!-- </div> --}}
  </div>
</div>
</div>

<footer class="page-footer font-small elegant-color">

  <div class="color-primary">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>

        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <a class="gh-ic" href="https://github.com/sawi4644">
            <i class="fab fa-github">Sara</i>
          </a>
          <a class="gh-ic" href="https://github.com/Oliviapark113">
            <i class="fab fa-github">Olivia</i>
          </a>
          <a class="gh-ic" href="https://github.com/glynismullankwok">
            <i class="fab fa-github">Glynis</i>
          </a>
          <a class="gh-ic" href="#">
            <i class="fab fa-github">Nick</i>
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="container text-center text-md-left pt-4 pt-md-5">

    <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">


        <h5>About Us</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <p class="foot-desc mb-0">We hope you enjoyed exploring our ecommerce site. <br>Designed in 2021 <br>
          Northwestern Full-Stack Bootcamp </p>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <h5>Languages</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="https://www.w3schools.com/html/">HTML</a>
          </li>
          <li class="mb-2">
            <a href="https://www.w3schools.com/css/">CSS</a>
          </li>
          <li class="mb-2">
            <a href="https://handlebarsjs.com/">Handlebars</a>
          </li>
          <li class="mb-2">
            <a href="https://www.javascript.com/">JavaScript</a>
          </li>
        </ul>
      </div>


      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">

        <h5>Useful links</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="list-unstyled foot-desc">
          <li class="mb-2">
            <a href="members">Your Account</a>
          </li>
          <li class="mb-2">
            <a href="https://github.com/sawi4644/CodeCloset-P2">Become a Contributor</a>
          </li>
          <li class="mb-2">
            <a href="https://github.com/sawi4644/CodeCloset-P2">Help</a>
          </li>
        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">


        <h5>Contact Us</h5>
        <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

        <ul class="fa-ul foot-desc ml-4">
          <li class="mb-2"><span class="fa-li"><i class="far fa-map"></i></span>Chicago, IL
          </li>
          <li class="mb-2"><span class="fa-li"><i class="fas fa-phone-alt"></i></span>coming soon...</li>
          <li class="mb-2"><span class="fa-li"><i class="far fa-envelope"></i></span>coming soon...</li>
          <li><span class="fa-li"><i class="far fa-clock"></i></span>Monday - Friday: 9-5</li>
        </ul>

      </div>

    </div>

  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>

</footer>



<script type="text/javascript" src="/js/members.js"></script>