<link href="stylesheets/shop.css" rel="stylesheet">

{{!--
<link href="stylesheets/sarastyle.css" rel="stylesheet"> --}}
{{!--
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> --}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

<div class="container">
  <ul class="menu menu-hover-lines" id="ulnav">
    <li><a href="/">Home</a></li>
    <li><a href="closet">View Closet</a></li>
    <li class="active"><a href="#">Shop</a></li>
    <li><a href="cart">View Cart</a></li>
    <li><a href="#">Log Out</a></li>
  </ul>
</div>
</div>
</div>
<br>
<br>
<div class="container">
  <div class="row top-row">

    <div class="col-sm-6 item-container">
      <div class="row parent">
        <div class="col-sm-6">
          <h3 data-item="Code Tee" class="item">Code Tee</h3>
          <img data-category="tshirts" src="../sketches/tshirts_red.svg" alt="tee sketch image" class="tee">
        </div>
        <div class="col-sm-6">
          <div class="row color-row">
            <h5 class="colors">Colors:
              <span class="color-text"></span>
            </h5>
            <button data-color="yellow" class="color-btn yellow"></button>
            <button data-color="red" class="color-btn red"></button>
            <button data-color="pink" class="color-btn  pink"></button>
            <button data-color="blue" class="color-btn  blue"></button>
            <button data-color="green" class="color-btn green"></button>
            <button data-color="grey" class="color-btn grey"></button>
          </div>

          <div class="row price-row">
            <h5>Price:$<span class="price">29.99</span></h5>
          </div>

          <div class="row size-row">
            <h5 class="size">Size:</h5>
            <button data-size="S" class="size-btn">S</button>
            <button data-size="M" class="size-btn">M</button>
            <button data-size="L" class="size-btn">L</button>

          </div>

          <div class="row add-row">
            <button class="add-to-cart">ADD to Cart</button>
          </div>


        </div>
      </div>
    </div>

    <div class="col-sm-6 item-container">
      <div class="row parent">
        <div class="col-sm-6">
          <h3 data-item="Stylish Sweatshirt" class="item"> Stylish Sweatshirt</h3>
          <img data-category="sweatshirts" src="../sketches/sweatshirts_grey.svg" alt="sweatshirt sketch image"
            class="sweatshirt">
        </div>
        <div class="col-sm-6">
          <div class="row color-row">
            <h5 class="colors">Colors:
              <span class="color-text"></span>
            </h5>
            <button data-color="yellow" class="color-btn yellow"></button>
            <button data-color="red" class="color-btn  red"></button>
            <button data-color="pink" class="color-btn  pink"></button>
            <button data-color="blue" class="color-btn blue"></button>
            <button data-color="green" class="color-btn green"></button>
            <button data-color="grey" class="color-btn  grey"></button>
          </div>

          <div class="row price-row">
            <h5>Price:$<span class="price">39.99</span></h5>
          </div>

          <div class="row size-row">
            <h5 class="size">Size:</h5>
            <button class="size-btn">S</button>
            <button class="size-btn">M</button>
            <button class="size-btn">L</button>

          </div>

          <div class="row add-row">
            <button class="add-to-cart">ADD to Cart</button>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="row bottom-row">

    <div class="col-sm-6 item-container">
      <div class="row parent">
        <div class="col-sm-6">
          <h3 data-item="Colored Legging" class="item"> Colored Legging</h3>
          <img data-category="legging" src="../sketches/legging_pink.svg" alt="legging sketch image" class="legging">
        </div>
        <div class="col-sm-6">
          <div class="row color-row">
            <h5 class="colors">Colors:
              <span class="color-text"></span>
            </h5>
            <button data-color="yellow" class="color-btn yellow"></button>
            <button data-color="red" class="color-btn  red"></button>
            <button data-color="pink" class="color-btn pink"></button>
            <button data-color="blue" class="color-btn blue"></button>
            <button data-color="green" class="color-btn green"></button>
            <button data-color="grey" class="color-btn grey"></button>
          </div>

          <div class="row price-row">
            <h5>Price:$<span class="price">29.99</span></h5>
          </div>

          <div class="row size-row">
            <h5 class="size">Size:</h5>
            <button class="size-btn">S</button>
            <button class="size-btn">M</button>
            <button class="size-btn">L</button>

          </div>

          <div class="row add-row">
            <button class="add-to-cart">ADD to Cart</button>
          </div>

        </div>
      </div>
    </div>


    <div class="col-sm-6 item-container">
      <div class="row parent">

        <div class="col-sm-6">
          <h3 data-item="Chic Sweatpants" class="item"> Chic Sweatpants</h3>
          <img data-category="spants" src="../sketches/spants_blue.svg" alt="sweatpants sketch image"
            class="sweatpants">
        </div>
        <div class="col-sm-6">
          <div class="row color-row">
            <h5 class="colors">Colors:
              <span class="color-text"></span>
            </h5>
            <button data-color="yellow" class="color-btn  yellow"></button>
            <button data-color="red" class="color-btn red"></button>
            <button data-color="pink" class="color-btn  pink"></button>
            <button data-color="blue" class="color-btn  blue"></button>
            <button data-color="green" class="color-btn sweatpantsColor-btn green"></button>
            <button data-color="grey" class="color-btn grey"></button>
          </div>

          <div class="row price-row">
            <h5>Price:$<span class="price">29.99</span></h5>
          </div>

          <div class="row size-row">
            <h5 class="size">Size:</h5>
            <button class="size-btn">S</button>
            <button class="size-btn">M</button>
            <button class="size-btn">L</button>

          </div>

          <div class="row add-row">
            <button class="add-to-cart">ADD to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<br>

<div class="row">
    <a class="checkout" href="cart">Check Out</a>
</div>
<br>
<br>

<script type="text/javascript" src="js/shop.js"></script>