    <link href="stylesheets/shop.css" rel="stylesheet">

  <link href="stylesheets/sarastyle.css" rel="stylesheet">
 
  
  <div class="container">
      <div class="row top-row">

          <div class="col-sm-3">
              <h3 class="item">Glynis cute raglan Tee</h3>
                <img src="../sketches/tshirts_red.svg" alt="tee sketch image" class="tee" >
          </div>
          <div class="col-sm-3">
              <div class="row color-row">
                <h5 class="colors">Colors:
                <span class="tee-text"></span>
                </h5>
              <button data-color="yellow" class="color-btn yellow"></button> 
              <button data-color="red" class="color-btn red"></button>
              <button data-color="pink" class="color-btn pink"></button> 
              <button data-color="blue" class="color-btn blue"></button>
              <button data-color="green" class="color-btn green"></button> 
              <button data-color="grey" class="color-btn grey"></button> 
              </div>
             
             <div class="row price-row">
              <h5 class="price">Price:$29.99</h5>
             </div>
             
             <div class="row size-row">
              <h5 class="size">Size:</h5> 
              <button class="size-btn">S</button> 
              <button class="size-btn">M</button>
              <button class="size-btn">L</button> 
          
             </div>

             <div class="row add-row">
              <button class="add-to-cart">ADD to Cart</button> 
             </div> 
                   
                 
          </div>
          <div class="col-sm-3">
               <h3 class="item">Sara stylish Sweatshirt</h3>
                <img src="../sketches/sweatshirts_grey.svg" alt="sweatshirt sketch image" class="sweatshirt" >
          </div>
          <div class="col-sm-3">
                    <div class="row color-row">
                <h5 class="colors">Colors:
                <span class="sweat-text"></span>
                </h5>
              <button data-color ="yellow" class="sweatColor-btn yellow"></button> 
              <button data-color ="red" class="sweatColor-btn red"></button>
              <button data-color ="pink"class="sweatColor-btn pink"></button> 
              <button data-color ="blue" class="sweatColor-btn blue"></button>
              <button data-color = "green" class="sweatColor-btn green"></button> 
              <button data-color = "grey" class="sweatColor-btn grey"></button> 
              </div>
             
             <div class="row price-row">
              <h5 class="price">Price:$39.99</h5>
             </div>
             
             <div class="row size-row">
              <h5 class="size">Size:</h5> 
              <button class="size-btn">S</button> 
              <button class="size-btn">M</button>
              <button class="size-btn">L</button> 
           
             </div>

             <div class="row add-row">
              <button class="add-to-cart">ADD to Cart</button> 
             </div>   
          </div>

      </div>

        
             <div class="row bottom-row">

          <div class="col-sm-3">
              <h3 class="item">Olivia skinny Legging</h3>
                <img src="../sketches/legging_pink.svg" alt="legging sketch image" class="legging" >
          </div>
          <div class="col-sm-3">
              <div class="row color-row">
                <h5 class="colors">Colors:
               <span class="legging-text"></span>
                </h5>
              <button data-color="yellow" class="leggingColor-btn yellow"></button> 
              <button data-color="red" class="leggingColor-btn red"></button>
              <button data-color="pink" class="leggingColor-btn pink"></button> 
              <button data-color= "blue" class="leggingColor-btn blue"></button>
              <button data-color= "green" class="leggingColor-btn green"></button> 
              <button data-color= "grey" class="leggingColor-btn grey"></button> 
              </div>
             
             <div class="row price-row">
              <h5 class="price">Price:$29.99</h5>
             </div>
             
             <div class="row size-row">
              <h5 class="size">Size:</h5> 
              <button class="size-btn">S</button> 
              <button class="size-btn">M</button>
              <button class="size-btn">L</button> 
            
             </div>

             <div class="row add-row">
              <button class="add-to-cart">ADD to Cart</button> 
             </div>         
                 
          </div>
          <div class="col-sm-3">
               <h3 class="item">Nick chic Sweatpants</h3>
                <img src="../sketches/spants_blue.svg" alt="sweatpants sketch image" class="sweatpants" >
          </div>
          <div class="col-sm-3">
                    <div class="row color-row">
                <h5 class="colors">Colors:
                   <span class="sweatpants-text"></span>
                </h5>
              <button data-color="yellow" class="sweatpantsColor-btn yellow"></button> 
              <button data-color="red" class="sweatpantsColor-btn red"></button>
              <button data-color="pink" class="sweatpantsColor-btn pink"></button> 
              <button data-color="blue" class="sweatpantsColor-btn blue"></button>
              <button data-color="green" class="sweatpantsColor-btn green"></button> 
              <button data-color="grey" class="sweatpantsColor-btn grey"></button> 
              </div>
             
             <div class="row price-row">
              <h5 class="price">Price:$29.99</h5>
             </div>
             
             <div class="row size-row">
              <h5 class="size">Size:</h5> 
              <button class="size-btn">S</button> 
              <button class="size-btn">M</button>
              <button class="size-btn">L</button> 
             
             </div>

             <div class="row add-row">
              <button class="add-to-cart">ADD to Cart</button> 
             </div>   
          </div>

  </div>

  
  <script type="text/javascript" src="js/shop.js"></script>