
<link href="stylesheets/sarastyle.css" rel="stylesheet">

<div class="container">
  <ul class="menu menu-hover-lines" id="ulnav">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="#">View Closet</a></li>
    <li><a href="shop">Shop</a></li>
    <li><a href="cart">View Cart</a></li>
    <li><a href="#">Log Out</a></li>
  </ul>
</div>
</div>
</div>
<br>
  
  <div class="container">
      <div class="row top-row">

          <div class="col-sm-3">
              <h1 class="item">Glynis cute Tee</h1>
                <img src="../sketches/tshirts_red.svg" alt="tee sketch image" class="tee" >
          </div>
          <div class="col-sm-3">
              <div class="row color-row">
                <h1 class="colors">Colors:</h1>
              <button class="yellow">yellow</button> 
              <button class="red">red</button>
              <button class="pink">pink</button> 
              <button class="blue">blue</button>
              <button class="pink">green</button> 
              <button class="blue">grey</button> 
              </div>
             
             <div class="row price-row">
              <h1 class="price">Price:$29.99</h1>
             </div>
             
             <div class="row size-row">
              <h1 class="size">Size:</h1> 
              <button class="size-btn">S</button> 
              <button class="size-btn">M</button>
              <button class="size-btn">L</button> 
             </div>

             <div class="row add-row">
              <button class="add-to-cart">ADD to Cart</button> 
             </div>         
                 
          </div>
          <div class="col-sm-3">
               <h1 class="item">Sara stylish Sweatshirt</h1>
                <img src="../sketches/sweatshirts_grey.svg" alt="sweatshirt sketch image" class="sweatshirt" >
          </div>
          <div class="col-sm-3">
                    <div class="row color-row">
                <h1 class="colors">Colors:</h1>
              <button class="yellow">yellow</button> 
              <button class="red">red</button>
              <button class="pink">pink</button> 
              <button class="blue">blue</button>
              <button class="pink">green</button> 
              <button class="blue">grey</button> 
              </div>
             
             <div class="row price-row">
              <h1 class="price">Price:$39.99</h1>
             </div>
             
             <div class="row size-row">
              <h1 class="size">Size:</h1> 
              <button class="size-btn">S</button> 
              <button class="size-btn">M</button>
              <button class="size-btn">L</button> 
             </div>

             <div class="row add-row">
              <button class="add-to-cart">ADD to Cart</button> 
             </div>   
          </div>

      </div>

        
             <div class="row bottom-row">

          <div class="col-sm-3">
              <h1 class="item">Olivia skinny Legging</h1>
                <img src="../sketches/legging_pink.svg" alt="legging sketch image" class="legging" >
          </div>
          <div class="col-sm-3">
              <div class="row color-row">
                <h1 class="colors">Colors:</h1>
              <button class="yellow">yellow</button> 
              <button class="red">red</button>
              <button class="pink">pink</button> 
              <button class="blue">blue</button>
              <button class="pink">green</button> 
              <button class="blue">grey</button> 
              </div>
             
             <div class="row price-row">
              <h1 class="price">Price:$29.99</h1>
             </div>
             
             <div class="row size-row">
              <h1 class="size">Size:</h1> 
              <button class="size-btn">S</button> 
              <button class="size-btn">M</button>
              <button class="size-btn">L</button> 
             </div>

             <div class="row add-row">
              <button class="add-to-cart">ADD to Cart</button> 
             </div>         
                 
          </div>
          <div class="col-sm-3">
               <h1 class="item">Nick chic Sweatpants</h1>
                <img src="../sketches/spants_blue.svg" alt="sweatpants sketch image" class="sweatpants" >
          </div>
          <div class="col-sm-3">
                    <div class="row color-row">
                <h1 class="colors">Colors:</h1>
              <button class="yellow">yellow</button> 
              <button class="red">red</button>
              <button class="pink">pink</button> 
              <button class="blue">blue</button>
              <button class="pink">green</button> 
              <button class="blue">grey</button> 
              </div>
             
             <div class="row price-row">
              <h1 class="price">Price:$29.99</h1>
             </div>
             
             <div class="row size-row">
              <h1 class="size">Size:</h1> 
              <button class="size-btn">S</button> 
              <button class="size-btn">M</button>
              <button class="size-btn">L</button> 
             </div>

             <div class="row add-row">
              <button class="add-to-cart">ADD to Cart</button> 
             </div>   
          </div>

  </div>

  
  <script type="text/javascript" src="js/closet.js"></script>