
.card-section{
    image-orientation: center;
    padding: 100px;
}

.item-name{
    text-align: center;
}

.item-price{
    text-align: center;
}

.bgnd{
    background-color: hotpink;
}
.para{
    line-height: 1.6;
    font-size: 24px;
    letter-spacing: 0.5px;
}