.marketing-site-hero {
  background: url("/img/final.gif") top right no-repeat;
  height: 25vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}


.checkout-summary-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.btn-area{
  display: flex;
  flex-direction: row;
}
.cardBod{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.marketing-site-hero-content {
  max-width: 75rem;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.marketing-site-hero-content h1 {
  font-size: 32px;
  text-align: left;
}

.marketing-site-hero-content .button.round {
  border-radius: 5000px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
}



.card-img-top{
  height: 300px;
  width: 360px;
}


.checkout-summary {
  max-width: auto;
  background-color: #fefefe;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
}

.checkout-summary-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border: 4px solid pink;
}

.checkout-summary-item {
  border-left: 3px solid lightskyblue;
  border-right: 3px solid lightskyblue;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid lightskyblue;
}

.checkout-summary-item .item-name,
.checkout-summary-item .item-price {
  padding: 0 rem;
}

.checkout-summary-item .item-name p,
.checkout-summary-item .item-price p {
  margin: 0;
  padding: 0;
}

.item-name {
  text-align: center;
}

.checkout-summary-item .title {
  font-weight: bold;
}

.checkout-summary-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.button.expanded {
  border-radius: 4%;
}

.edit{
  height: 50px;
  margin-left: 10px;
}

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active>a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active>a {
  color: #0a0a0a;
  font-size: larger;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

#ulnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Lato', sans-serif;

}

.carBod {
  /* padding: 30%; */

}

#cart {
  display: flex;
}

h5 {
  font-weight: bold;
}

h3,
p {
  font-family: 'Lato', sans-serif;
}


/* .basic-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
  display: -ms-grid;
  display: flex;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 auto;

} */

.basic-card> :last-child {
  margin-bottom: 0;
}

/* .basic-card-image {
  grid-row-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
} */


.basic-card-content {
  border: 0;
  margin: 0;
  overflow: scroll;
}


.gh-ic {
  padding: 2%;
}

.card-info .card-info-content {
  padding: 0.5rem 1.5rem 0.875rem;
}

a:hover {
  cursor: pointer;
}

a.checkout {
  display: block;
  width: 100%;
  font-size: 20px;
}

.sign-up{
  width: auto;
}

@media screen and (max-width: 740px) {
  .checkout-summary-item{
    font-size:18px;
  }
  .cardBod {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    padding:0;
    margin:0;
  }
  .col-6 {
    max-width: 100%;
    display: flex;
    align-items: center;
   
  }

  .btn-area{
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  
  .remove{
    height: 55px;
    width: 50px;
    padding: 0px;
  }

  .edit{
    margin-left:0;
  }

}

@media screen and (min-width: 40em) {
  .marketing-site-hero-content {
    padding-left: 50%;
  }
}

@media screen and (min-width: 40em) {
  .marketing-site-hero {
    background-position: center center;
  }
}