body {
    margin: 0;
    padding: 0;
   

}

.hide {
    display: none;
}

.container {
    padding: 0px;

}

.item-container {
    margin-bottom: 100px;
}

p {
    font-family: 'Lato', sans-serif;
  }


h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

h5.colors,
h5.price-text,
h5.size {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.sweatshirt,
.tee {
    max-height: 400px;
    max-width: 350px;
    display: block;
    margin: auto;
    padding: 10px;
}

.sweatpants,
.legging {
    max-height: 500px;
    max-width: 350px;
    display: block;
    margin: auto;
    padding: 10px;

}



button {
    width: 60px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    text-align: center;


}

.color-text {
    font-weight: lighter;
    display: inline-block;
}

.color-row {
    display: inline-block;
    margin: auto;
}

.price-row,
.size-row {
    padding: 5px;
    margin-left: 10px;
}

.yellow {
    background-color: #f9c02d;
}


.red {
    background-color: #ff5252;

}

.pink {
    background-color: #f48fb1;

}

.blue {
    background-color: #1976d2;

}

.green {
    background-color: #009650;

}

.grey {
    background-color: #455a64;

}

.size-row {
    display: flex;
}

button.size-btn {
    background-color: whitesmoke;
    border: solid lightslategray 2px;
    height: 40px;
    width: 40px;
    font-size: 15px;
}

.selected {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;

}

button.add-to-cart {
    width: 60%;
    display: block;
    font-size: 16px;
    margin-left: 50px;
    height: 40px;
    background-color: #006064;
    color: whitesmoke;
}

@media screen and (max-width: 40em) {
    .col-md-6 {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .colors {
        text-align: center;
    }

    .add-to-cart {
        width: 100%;
        padding: 10px;
    }


}